
process {
    executor = 'slurm'
    cache = 'lenient'
}

executor {
    name = 'slurm'
    queueSize = 100
    queueStatInterval = '10 sec'
    pollInterval = '10 sec'
    submitRateLimit = '10sec'
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '-B /vast -B /stornext -B /wehisan'
}

docker.enabled = false
